<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ExchangerSection" type="CurrencyUpdater.Configuration.ExchangerSection, CurrencyUpdater"/>
    <section name="HandlerSection" type="W1.CurrencyUpdater.Configuration.HandlerSection, CurrencyUpdater"/>
    <section name="ApplicationSection" type="CurrencyUpdater.Configuration.ApplicationSection, CurrencyUpdater"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <connectionStrings>
    <add name="" connectionString="" />
  </connectionStrings>

  <ApplicationSection time="60" path="C:\Libs" email=""/>

  <HandlerSection>
    <HandlerCollection>
      <Handler name="asiabank" used="true"/>
      <Handler name="bovbank" used="true"/>
      <Handler name="cbxml" used="true"/>
      <Handler name="kztbank" used="true"/>
      <Handler name="mbank" used="true"/>
      <Handler name="moneymovers" used="true"/>
      <Handler name="nbrbank" used="true"/>
      <Handler name="openexchangerates" used="true"/>
      <Handler name="privatbank" used="true"/>
      <Handler name="standardbank" used="true"/>
      <Handler name="tjsbank" used="true"/>
    </HandlerCollection>
  </HandlerSection>

  <ExchangerSection>
    <ExchangerCollection>
      <Exchanger name="Центральный банк" url="http://www.cbr.ru/scripts/XML_daily.asp?date_req=dd.MM.yyyy" method="GET" handler="cbxml">
        <CurrencyCollection>
          <Currency value="RubByrMainW1" src="643" dst="933" />
          <Currency value="RubEurMainW1" src="643" dst="978" />
          <Currency value="RubEurMainYP" src="643" dst="978" />
          <Currency value="RubGelMainW1" src="643" dst="981" />
          <Currency value="RubKztMainW1" src="643" dst="398" />
          <Currency value="RubPlnMainW1" src="643" dst="985" />
          <Currency value="RubTjsMainW1" src="643" dst="972" />
          <Currency value="RubUahMainW1" src="643" dst="980" />
          <Currency value="RubUahMainYP" src="643" dst="980" />
          <Currency value="RubUsdMainW1" src="643" dst="840" />
          <Currency value="RubUsdMainYP" src="643" dst="840" />
          <Currency value="RubZarMainW1" src="643" dst="710" />
          <Currency value="RubEurMntMntW1" src="643" dst="978" />
          <Currency value="RubEurMntMainW1" src="643" dst="978" />
          <Currency value="RubUsdMntMainW1" src="643" dst="840" />
          <Currency value="RubUahMntDpsW1" src="643" dst="980" />
          <Currency value="EurRubMainW1" src="978" dst="643" />
          <Currency value="EurRubMainYP" src="978" dst="643" />
          <Currency value="UsdRubMainW1" src="840" dst="643" />
          <Currency value="UsdRubMainYP" src="840" dst="643" />
          <Currency value="ZarRubMainW1" src="710" dst="643" />
          <Currency value="EurRubMntMainW1" src="978" dst="643" />
          <Currency value="UsdRubMntMainW1" src="840" dst="643" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="nationalbank.kz" url="http://www.nationalbank.kz/rss/rates.xml" method="GET" handler="kztbank">
        <CurrencyCollection>
          <Currency value="KztRubMainW1" src="398" dst="643" />
          <Currency value="KztEurKzMnt2W1" src="398" dst="978" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="asiacreditbank.kz" url="http://10.3.1.10:8011/IBSO_Adapter/Services/Proxy_Services/ACB_DICTIONARY" method="POST" handler="asiabank">
      <CurrencyCollection>
          <Currency value="KztUsdMainW1" src="398" dst="840" />
          <Currency value="KztRubKzMntW1" src="398" dst="643" />
          <Currency value="KztEurKzMntW1" src="398" dst="978" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="nbt.tj" url="http://nbt.tj/tj/kurs/export_csv.php?date=yyyy-MM-dd" method="GET" handler="tjsbank">
        <CurrencyCollection>
          <Currency value="TjsRubMainW1" src="972" dst="810" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="StandardBank" url="http://ws15.standardbank.co.za/finSnapShot/GetforexServlet" method="GET" handler="standardbank">
        <CurrencyCollection>
          <Currency value="ZarUsdMainW1" src="840" dst="710" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="mm.ge_rub" url="https://mm.ge/rates/rates.php?date=yyyy-MM-dd" method="GET" handler="moneymovers">
        <CurrencyCollection>
          <Currency value="RubGelMainW1" src="981" dst="643" />
          <Currency value="GelRubMainW1" src="643" dst="981" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="mm.ge_usd" url="https://mm.ge/rates/rates.php?date=yyyy-MM-dd&amp;to=USD" method="GET" handler="moneymovers">
        <CurrencyCollection>
          <Currency value="GelUsdMainW1" src="840" dst="981" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="bov.com" url="https://www.bov.com/exchangerates.aspx" method="GET" handler="bovbank">
        <CurrencyCollection>
          <Currency value="EurUsdMainW1" src="978" dst="840" />
          <Currency value="EurUsdMainYP" src="978" dst="840" />
          <Currency value="UsdEurMainW1" src="840" dst="978" />
          <Currency value="UsdEurMainYP" src="840" dst="978" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="Банк Белоруссии" url="http://www.nbrb.by/Services/XmlExRates.aspx?ondate=yyyy-MM-dd" method="GET" handler="nbrbank">
        <CurrencyCollection>
          <Currency value="ByrRubMainW1" src="974" dst="643" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="mbank Польша" url="http://www.mbank.pl/ajax/nbpfixing/getCSV/?date=yyyy-MM-dd&amp;lang=pl" method="GET" handler="mbank">
        <CurrencyCollection>
          <Currency value="EurPlnMainW1" src="978" dst="985" />
          <Currency value="PlnEurMainW1" src="985" dst="978" />
          <Currency value="PlnRubMainW1" src="985" dst="643" />
          <Currency value="PlnUahMainW1" src="985" dst="980" />
          <Currency value="PlnUsdMainW1" src="985" dst="840" />
          <Currency value="RubPlnMainW1" src="643" dst="985" />
          <Currency value="PlnEurJkMntW1" src="985" dst="978" />
          <Currency value="UsdPlnMainW1" src="840" dst="985" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="Приват банк" url="https://api.privatbank.ua/p24api/pubinfo?exchange&amp;coursid=17" method="GET" handler="privatbank">
        <CurrencyCollection>
          <Currency value="UahPlnMainW1" src="985" dst="980" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="mm.ge_w1_rub" url="http://mm.ge/cour/rates.php?owner=W1&amp;currency=RUB&amp;date=yyyy-MM-dd" method="GET" handler="moneymovers">
        <CurrencyCollection>
          <Currency value="MoneyMoversRUB" src="643" dst="981" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="mm.ge_w1_usd" url="http://mm.ge/cour/rates.php?owner=W1&amp;currency=USD&amp;date=yyyy-MM-dd" method="GET" handler="moneymovers">
        <CurrencyCollection>
          <Currency value="MoneyMoversUSD" src="840" dst="981" />
        </CurrencyCollection>
      </Exchanger>
      <Exchanger name="openexchangerates" url="https://openexchangerates.org/api/historical/yyyy-MM-dd.json?app_id=bbeb21930548494d902f66c8b5cfd950&amp;base=USD" method="GET" handler="openexchangerates">
        <CurrencyCollection>
          <Currency value="UahUsdOerW1" src="840" dst="980" />
          <Currency value="RubUsdOerW1" src="840" dst="643" />
        </CurrencyCollection>
      </Exchanger>
    </ExchangerCollection>
  </ExchangerSection>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDir" value="./Logs/${date:format=yyyy-MM-dd}"/>
    <variable name="detailedLayout" value="${date:format=dd.MM.yyyy HH\:mm\:ss} (${level:uppercase=true}): ${message}. ${exception:format=ToString}"/>
    <targets>
       <target name="fullLog" xsi:type="File" fileName="${logDir}/full.log" layout="${detailedLayout}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="fullLog" />
    </rules>
  </nlog>
</configuration>